{% extends 'finchart/base.html' %} {% block content %}
<script>
  jQuery(function ($) {
    $.extend($.fn.dataTable.defaults, {
      language: {
        url:
          "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json",
      },
    });
    $("#fstatement_list")
      .DataTable({
        searching: true, //検索ボックスでのテキスト検索を可能にする
        paging: true, //ページングを可能にする
        ordering: true, //各項目でのソートを可能にする
        lengthChange: true, //件数の切り替え機能を可能にする
      })
      .columns.adjust()
      .draw();
  });
</script>
<h1>トップページ</h1>

<!-- テーブルの定義 -->
<table
  id="fstatement_list"
  width="100%"
  class="table table-striped table-bordered table-hover"
>
  <thead>
    <tr>
      <th class="text-center" width="40%">会社</th>
      <th class="text-center" width="40%">決算日</th>
      <th class="text-center">LINK</th>
    </tr>
  </thead>
  <tbody>
    {% for item in fstatement_list %}
    <tr class="odd gradeX text-center">
      <td class="text-center">{{ item.company }}</td>
      <td class="text-center">{{ item.fiscal_year }}</td>
      <td><a href="{% url 'finchart:fstatement' item.pk %}">詳細へ</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- テーブルの定義　終了-->

{% endblock %}
