{% if is_paginated %}
  <div class="pagination-bar">
    <nav aria-label="List pagination" class="mb-4">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">前へ</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">前へ</span>
          </li>
        {% endif %}
        {% for page_num in page_obj.paginator.page_range %}
          {% if page_num == page_obj.number %}
            <li class="page-item">
              <span class="page-link active">{{ page_num }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{page_num}}">{{ page_num }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}">次へ</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">次へ</span>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endif %}
